.navbar-collapse {
    flex-grow: 0;
}

.navtext {
    color: white;
    font-size: 20PX;
    text-decoration: none;
    margin-left: 30px;
    margin-right: 20px;
}

body {
    background-color: white;
}

#con1 {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 5%;
}

#con2 {
    width: 60%;
    /*    border: solid 2px black;*/
    box-shadow: 5px 10px 18px #888888;
    background-color: white;
    padding: 5%;
}

#Label1 {
    /*    display: flex;
    flex-direction: row;
    justify-content: space-evenly;*/
    width: 100%;
    /*    height: 60vh;
    border: solid 2px black;*/
}

#cardd {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 50vh;
}



#text2 {
    margin-left: 5%;
    font-size: 20px;
}

.addcomment {
    border: #888888 solid 1px;
    margin: 5%;
    padding: 2%;
    border-radius: 10px;
}

#Button1 {
    border: 2px solid #82B0CA;
    background-color: white;
    color: #82B0CA;
    padding: 6px 24px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
    height: 46px;
}

    #Button1:hover {
        background-color: #82B0CA;
        color: white;
    }

#Button2 {
    border: 2px solid #82B0CA;
    background-color: white;
    color: #82B0CA;
    padding: 6px 24px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
    height: 46px;
    position: relative;
    left: 55%;
    bottom: 16%;
}

    #Button2:hover {
        background-color: #82B0CA;
        color: white;
    }

#input {
    width: 70%;
    height: 50px;
    border-radius: 10px;
    border-color: darkgrey;
    margin-left: 2%;
}

#text {
    font-size: 30px;
    margin-top: 10%;
    width: 42%;
    /*    border: black solid;*/
    margin: 5% 0 5% 0;
}

#lbl {
    margin: 0 2% 0 5%;
}

#lbll {
    font-size: 20px;
}


.text-reset {
    text-decoration: none;
}

.text-muted {
    color: white !important;
}

.fas {
    color: white !important;
}

.fab {
    color: white;
}
